*{
    padding:0;
    margin: 0;
    font-family: Leelawadee
}
.button:hover{
    cursor: pointer;
    filter: brightness(0.9);
}
body{
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 147, 46);
}
.header{
    border-bottom: 5px solid rgb(204, 92, 0);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    height: 70px;
    background-color: white;
    width: 100%;
    border-radius:0px 0px 15px 15px;
}

.header__logo{
    height: 100%;
}
.header__link{
    text-decoration: none;
   color: rgb(255, 147, 46);
}
.header__link--active{
   color: rgb(46, 119, 255);
}

@keyframes container-animation {
   0%{
    transform:scaleX(0);
   }
}
.form__input--text{
    width: 50%;
    box-sizing: border-box;
    padding: 5px;   
    border-radius: 5px;
    border: 1px solid rgb(189, 189, 189);
}
.form__input--date{
   padding: 5px;   
    border-radius: 5px;
    border: 1px solid rgb(189, 189, 189); 

}
.saved-user__field{
    margin-top: 5px;
    flex-direction: column;
    display:flex;
}
.saved-user__title{
    font-weight: 600;
}
.slug{
    animation-name:slug-animation;
    animation-duration: 300s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    opacity: 0.4;
    position: absolute;
    bottom: 0;
    left: -110px;
    height: 60px;
}
@keyframes slug-animation {
   100%{
        left: 170vh
   } 
}
.users-list{
      border-bottom: 5px solid rgb(204, 92, 0);
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 20px;
    width: 90%;
    box-sizing: border-box;
    padding: 10px;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
}


.users-list__user{
    align-items: baseline;
    display: flex;
    flex-direction: column;
    border: 1px solid  rgba(255, 147, 46, 0.336);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}
.users-list__image{
    height: 20px;
    aspect-ratio: 1/1;
}
.users-list__title{
    font-weight: 800;
}
.pattern-container__title{
    color: rgb(255, 147, 46);
}
.pattern-container{
    border-bottom: 5px solid rgb(204, 92, 0);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    column-gap: 10px;
    height: auto;
    flex-direction: column;
    background-color: white;
    align-items: baseline;
    width: 90%;
    margin-top: 20px;
    border-radius: 10px;
    animation-name:container-animation;
    animation-delay:0s;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

.action-link{
    font-size: 15px;
    margin-top: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
.action-link--primary{
   background-color: rgb(87, 87, 255);
}
.action-link--danger{
   background-color: rgb(240, 64, 64);
}
