*{
    padding:0;
    margin: 0;
    font-family: Leelawadee
}
button:hover,input[type="submit"]:hover{
    cursor: pointer;
    filter: brightness(0.9);
}
body{
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 147, 46);
}
.header{
        border-bottom: 5px solid rgb(204, 92, 0);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    height: 70px;
    background-color: white;
    width: 100%;
    border-radius:0px 0px 15px 15px;
}
.header__logo{
    height: 100%;
}
.header__link{
    text-decoration: none;
   color: rgb(255, 147, 46);
}
.header__link--active{
   color: rgb(46, 119, 255);
}
.form h1{
    color: rgb(255, 147, 46)
}
.form{
    border-bottom: 5px solid rgb(204, 92, 0);
    animation-name:form-animation;
    animation-delay:0s;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    align-items: baseline;
    row-gap: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    width: 90%;
    border-radius: 15px;
}
@keyframes form-animation {
   0%{
    transform:scaleX(0);
   }
}
.form input[type="text"],.form input[type="email"]{
    width: 50%;
    box-sizing: border-box;
    padding: 5px;   
    border-radius: 5px;
    border: 1px solid rgb(189, 189, 189);
}
.form input[type="date"]{
   padding: 5px;   
    border-radius: 5px;
    border: 1px solid rgb(189, 189, 189); 

}
.form input[type="radio"]{
    background-color: red;
}
.form input[type="submit"]{
    padding: 10px;
    background-color: rgb(46, 119, 255);
    color: white;
    border: none;
    border-radius: 6px;
}
.saved-user{
    border-bottom: 5px solid rgb(204, 92, 0);
    animation-name:form-animation;
    animation-delay:0s;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
        border-bottom: 5px solid rgb(204, 92, 0);
    align-items: baseline;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    width: 90%;
    border-radius: 15px;

    box-sizing:border-box;
}
.saved-user h2{
    color:rgb(255, 147, 46);
}
.saved-user__field{
    margin-top: 5px;

    flex-direction: column;
    display:flex;
}
.saved-user__title{
    font-weight: 600;
}
.saved-user button{
    padding: 10px;
    border: none;
    border-radius: 6px;
    width:fit-content;
    background-color: rgb(255, 147, 46);
    color: white;
}
.slug{
    animation-name:slug-animation;
    animation-duration: 300s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    opacity: 0.4;
    position: absolute;
    bottom: 0;
    left: -110px;
    height: 60px;
}
@keyframes slug-animation {
   100%{
        left: 170vh
   } 
}
.users-list{
    
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-top: 20px;
    width: 90%;
    box-sizing: border-box;
    padding: 10px;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
}


@media (max-width:2200px){
    .users-list{

    grid-template-columns: repeat(6,1fr);
    }
}

@media (max-width:1900px){
    .users-list{

    grid-template-columns: repeat(5,1fr);
    }
}
@media (max-width:1500px){
    .users-list{

    grid-template-columns: repeat(4,1fr);
    }
}
@media (max-width:1200px){
    .users-list{

    grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:900px){
    .users-list{

    grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:600px){
    .users-list{

    grid-template-columns: repeat(1,1fr);
    }
}
.users{
    
    align-items: baseline;
    display: flex;
    flex-direction: column;
    border: 1px solid  rgba(255, 147, 46, 0.336);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}
.users img{
    height: 20px;
    aspect-ratio: 1/1;
}